.lighting {
    background: linear-gradient(65.75deg, #bee979 0.81%, #82b82b 100%);
}

.humidity {
    background: linear-gradient(65.75deg, #bfe0ff 0.81%, #007cef 100%);
}

.temperature {
    background: linear-gradient(65.75deg, #e7c88b 0.81%, #e68f0c 100%);
}
